{% extends 'flatpages/default.html' %}

{% block content %}

<style>
    .field{
        border:1px solid #ccc;
        border-radius:5px;
        height:25px;
        width:200px;
        margin: 10px 10px 10px 0;
    }
</style>
<div class="input-group">
    <form action="{% url 'musicshop:update_guitar' guitar.id %}" method="get" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% for field in form %}
        </div>
            {{ field.label_tag }}
            <div>{{ field }}</div>
        <div>
            {% endfor %}
        </div>
        <hr>
        <input type="submit" value="Create" class="btn btn-outline-dark mt-auto"/>
        <hr>
    </form>
</div>

{% endblock content %}