{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block content %}
<div class="col-lg-4">
    <div class="card mb-4">
        <div class="card-header fw-bolder">Ваш заказ оформлен!</div>
            <div class="card-body">
                <p><h5>Всего товаров: {{ total_quantity }}</h5>
                <p><h5>Общая стоимость: {{ total_sum|currency:'rub' }}</h5>
                <p><h5>Ожидайте обратной связи!</h5>
                <hr>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'musicshop:product_list' %}">Назад в магазин</a></div>
                </div>
            </div>
    </div>
</div>
{% endblock content %}